<div class="parallax-container parallax-container-two valign-wrapper">
  <div class="section no-pad-bot">
      <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2"><%= @backgound_6.titulo %></h1>
          <div class="row center">
              <h5 class="header col s12 light"><%= raw(@backgound_6.descricao) %></h5>
          </div>
          <div class="row center">
              <% if usuario_signed_in? %>
                  <%= link_to  "Editar", edit_banner_path(6), class: "btn-large waves-effect waves-light teal lighten-1"  %>
              <%end%>    
          </div>
          <br><br>
      </div>
  </div>
  <div class="parallax"><%= image_tag @backgound_6.img.url %></div>
</div>

<div class="container">
  <% for estado in Estado.all %>
  <% if Assistencia.find_by_estado(estado.nome) %>
      <h4 class="header teal-text text-lighten-2"> <%= estado.nome %></h4>
  <% end %>
  <% for assistencia in Assistencia.where('estado = ?', estado.nome) %>
 
  <div class="card horizontal hoverable">
    <div class="card-stacked">
      <div class="card-content">
        <p><b><%= assistencia.nome.upcase %></b></p>
        <p><%= assistencia.endereco %> <%= assistencia.cidade %> - <b><%= assistencia.estado %></b></p>
        <p><%= assistencia.email %></p>
      </div>
      <div class="card-action">
        <%= assistencia.telefone %> 
        <% if usuario_signed_in? %>
        <%= link_to edit_assistencia_path(assistencia), class: "btn-floating" do %>
          <i class="material-icons">edit</i>
        <%end%>
        <%= link_to assistencia, method: :delete, data: { confirm: 'Deseja apagar ?' }, class: "btn-floating red" do%>
          <i class="material-icons">delete</i>
        <%end%>
      <%end%> 
      </div>
    </div>
  </div>

  <% end %>
<% end %>
</div>



