<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @contato.nome %><br>
    <%= @contato.razao %> / <%= @contato.tipo %><br>
    <%= @contato.email %><br>
    <%= @contato.telefone %><br>
    <%= @contato.cidade %> / <%= @contato.estado %><br><br>
    <p><%= @contato.mensagem %></p>

  </body>
</html>