<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @manutencao.nome %><br>
    <%= @manutencao.razao %><br>
    <%= @manutencao.modelo %><br>
    <%= @manutencao.email %><br>
    <%= @manutencao.telefone %><br>
    <%= @manutencao.cidade %> <%= @manutencao.estado %><br>
    <p><%= @manutencao.solicitacao %></p>

  </body>
</html>