<div class="wrapper">
  <div class="container">
      <h3 class="header center teal-text text-lighten-2">
        <i class="material-icons">email</i>
        <%= Contato.model_name.human %></h3>
  </div>
</div>
        

<div class="container">

  <table class="responsive-table bordered">
    <thead>
      <tr>
        <th><%= Contato.human_attribute_name(:created_at) %></th>
        <th><%= Contato.human_attribute_name(:nome) %></th>
        <th><%= Contato.human_attribute_name(:razao) %></th>
        <th style="width: 5%;" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contatos.each do |contato| %>
        <tr>
          <td><%= contato.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= contato.nome %></td>
          <td><%= contato.razao %></td>
          <td>
            <%= link_to contato, class: "btn-floating" do%>
              <i class="material-icons">email</i>
            <%end%>
          </td>
          <td>
            <%= link_to contato, method: :delete, data: { confirm: 'Deseja apagar ?' }, class: "btn-floating red" do%>
              <i class="material-icons">delete</i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>