<%= form_with(model: banner, local: true) do |form| %>


  <div class="file-field input-field col s4">
    <div class="btn">
      <span><%= t('foto') %></span>
      <%= form.file_field :img, id: :banner_img %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
    
    <%= form.text_field :titulo, id: :banner_titulo %>
    <%= form.label :titulo %>
  </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
    <%= form.cktext_area :descricao, id: :banner_descricao, class: "materialize-textarea" %>
  </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <%= form.submit class: "waves-effect waves-light btn" %>
      </div>  
    </div>

<% end %>
