<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @banner.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @banner.descricao %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
