<div class="home-2">
        <div class="container">
            <div class="row">
                <h3 class="header teal-text text-lighten-2"><%= @pagina_6.titulo %></h3>
                <div class="card-panel hoverable">
                    <div class="card-content">
                     <p><%= raw(@pagina_6.texto) %></p>
                     <% if usuario_signed_in? %>
                     <%= link_to  "Editar", edit_pagina_path(6), class: "btn-large waves-effect waves-light teal lighten-1"  %>
                     <%end%> 
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
    <% @videos.each do |video| %>
    <div class="col s12 hoverable hide-on-small-only z-depth-2"> 
        <div class="col s6"> 
            <p>
            <div class="video-container">      
                <%= raw(video.url) %>   
            </div>
        </p>
        </div>
        <div class="col s6"> 
            <h5 class="header teal-text text-lighten-2"><%= video.titulo %></h5>
            <p><%= raw(video.texto) %></p>   
            <p>
            <% if usuario_signed_in? %>
            <%= link_to edit_video_path(video), class: "btn-floating" do %>
                <i class="material-icons">edit</i>
              <%end%>
              <%= link_to video, method: :delete, data: { confirm: 'Deseja apagar ?' }, class: "btn-floating red" do%>
                <i class="material-icons">delete</i>
              <%end%>
            <%end%>          
            </p>    
        </div>
    </div>  
    <div class="col s12 hoverable hide-on-large-only z-depth-2"> 
        <h5 class="header teal-text text-lighten-2"><%= video.titulo %></h5>   
        <div class="video-container">   
            <%= raw(video.url) %>   
        </div>
    </div>
    <%end%>
    </div>
</div>