<div class="wrapper">
    <div class="container">
        <h3 class="header center teal-text text-lighten-2">
            <i class="material-icons">format_list_numbered</i>
            <%= t('catalogo')%></h3>
    </div>
</div>
<div class="home-1">
  <div class="row">
      <% @categorias.each do |categoria| %>
          <div class="container">
              <div class="col s12 m6">
                  <h4 class="center teal-text text-lighten-2"><%= categoria.nome %></h4>
                  <div class="card horizontal">
                      <div class="card-image">
                          <%= image_tag categoria.img.url(:medium) %>
                      </div>
                      <div class="card-stacked">
                      <div class="card-content">
                          <p><%= raw(categoria.descricao) %></p>
                      </div>
                      <% if usuario_signed_in? %>
                      <div class="card-action">
                        <%= link_to edit_categoria_path(categoria), class: "btn-floating" do %>
                          <i class="material-icons">edit</i>
                        <%end%>
                        <%= link_to categoria, method: :delete, data: { confirm: 'Deseja apagar ?' }, class: "btn-floating red" do%>
                          <i class="material-icons">delete</i>
                        <%end%>
                      </div>
                      <%end%> 
                      </div>
                  </div>
              </div>                 
          </div>
      <%end%>
  </div>
</div>
