<p id="notice"><%= notice %></p>

<h1>Quem Somos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Texto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quem_somos.each do |quem_somo| %>
      <tr>
        <td><%= quem_somo.titulo %></td>
        <td><%= quem_somo.texto %></td>
        <td><%= link_to 'Show', quem_somo %></td>
        <td><%= link_to 'Edit', edit_quem_somo_path(quem_somo) %></td>
        <td><%= link_to 'Destroy', quem_somo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quem Somo', new_quem_somo_path %>
