<div class="wrapper">
    <div class="container">
        <h3 class="header teal-text text-lighten-2"><%= Produto.model_name.human %></h3>
    </div>
</div>
<div class="container">
  <div class="row">
      <% for categoria in Categoria.all %>
      <% if Produto.find_by_categoria_id(categoria.id) %>
        <div class="card-panel hoverable">
          <div class="card-content">
            <h4 class="header teal-text text-lighten-2"> <%= categoria.nome %></h4>
            <span> <%= raw(categoria.descricao) %></span>
          </div>
        </div>    
      <% end %>
     
        <% for produto in Produto.where('categoria_id = ?', categoria.id) %>
          <div class="card horizontal hoverable">
            <div class="card-image">
              <%= link_to (image_tag produto.foto.url(:lista)), produto, class: "responsive-img" %>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p class="hide-on-large-only"><%= produto.modelo %></p>
                <p class="hide-on-small-only"><%= produto.resumo %></p>
              </div>
              <div class="card-action">
                <%= link_to t('visualizar'), produto %>
                <% if usuario_signed_in? %>
                  <%= link_to t('editar'), edit_produto_path(produto) %>
                  <%= link_to t('deletar'), produto, method: :delete, data: { confirm: 'Deseja apagar ?' } %>
                <%end%> 
              </div>
            </div>
          </div>
        <%end%>
      
    <%end%> 
  </div>
</div>