<%= form_with(model: anexo, local: true) do |form| %>

      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span><%= t('arquivo') %></span>
            <%= form.file_field :arquivo, id: :anexo_arquivo %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.text_field :nome, id: :anexo_nome %>
          <%= form.label :nome %>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <%= form.text_area :legenda, id: :anexo_legenda, class: "materialize-textarea" %>
          <%= form.label :legenda %>
        </div>
      </div>
    
      <div class="row">
        <div class="input-field col s12">
          <%= form.submit class: "waves-effect waves-light btn" %>
          <%= link_to t('cancelar'), anexos_path, class: "waves-effect waves-light btn" %>
        </div>  
      </div>

<% end %>
