<footer class="page-footer teal">
<div class="container">
    <div class="row">
    <div class="col l6 s12">
        <h5 class="white-text"><%= footer.titulo %></h5>
        <p class="grey-text text-lighten-4"><%= raw(footer.texto) %></p>
        <% if usuario_signed_in? %>
        <%= link_to  "Editar", edit_pagina_path(8), class: "btn-large waves-effect waves-light teal lighten-1"  %>
        <%end%> 
    </div>
    <div class="col l4 offset-l2 s12">
        <ul>
        <li><%= link_to  t('inicio'), root_path , class: "grey-text text-lighten-3"%></li>
        <li><%= link_to Produto.model_name.human, produtos_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to Artigo.model_name.human, artigos_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to Video.model_name.human, videos_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to Assistencia.model_name.human, assistencias_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to t('suporte'), ajudas_path, class: "grey-text text-lighten-3" %></li>
        <li><%= link_to Contato.model_name.human, new_contato_path, class: "grey-text text-lighten-3" %></li>
        <% if usuario_signed_in? %>
            <li><%= link_to t('sair'), destroy_usuario_session_path, method: :delete, class: "grey-text text-lighten-3" %></li>
        <%end%>            
        </ul>
    </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container translate">
        <%= link_to_unless_current (image_tag  "pt.png"), locale: "pt" %>
        <%= link_to_unless_current (image_tag  "en.png"), locale: "en" %>
        <%= link_to_unless_current (image_tag  "es.png"), locale: "es" %>
    </div>
</div>
</footer>